@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --verde: #27ae60;
  --vermelho: #ff0000;
  --background-azul: #e1ecf4;
  --background-cinza: #9faab5;
  --borda-azul: #7aa7c7;
  --borda-cinza: #cccccc;
  --fonte-azul: #39739d;
  --fonte-cinza: #798a9f;
  --sombra: rgba(0, 0, 0, 0.25);
}

/* GERAL */

* {
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box !important;
}

body {
  margin: 60px 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botao {
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--background-azul);
  color: var(--fonte-azul);
  border: 1px solid var(--borda-azul);
}

/* JOGO */

.jogo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 466px;
  position: relative;
  margin-bottom: 70px;
}

.jogo__imagem {
  height: 466px;
}

.jogo__botao {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: var(--verde);
  position: absolute;
  right: 0px;
  top: 30px;
  cursor: pointer;
}

.jogo__palavra {
  margin-bottom: 26px;
  margin-right: 8px;
  font-family: "Noto Sans", "Roboto", sans-serif !important;
  font-size: 50px;
  font-weight: 700;
}

/* LETRAS */

.letras {
  width: 664px;
  display: grid;
  grid-template-columns: repeat(13, 40px);
  grid-template-rows: repeat(2, 40px);
  gap: 12px;
  margin-bottom: 56px;
}

/* CHUTE */

.chute {
  width: 624px;
  height: 40px;
}

.chute__texto,
.chute__botao,
.chute label {
  height: 100%;
}

.chute label {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chute__botao {
  width: 100px;
}

.chute__texto {
  width: 353px;
  border: 1px solid var(--borda-cinza);
  box-shadow: 2px 2px 5px var(--sombra);
  border-radius: 3px;
  padding-left: 10px;
  font-size: 16px;
}

.chute__texto:focus {
  outline: none;
}

/* REACT */

.jogo__palavra--ganhou {
  color: var(--verde);
}

.jogo__palavra--perdeu {
  color: var(--vermelho);
}

.botao--desabilitado {
  color: var(--fonte-cinza);
  background-color: var(--background-cinza);
}
